body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 1336px;
  margin: auto;
}

.blue {
  background-color: blue;
}

.container {
  max-width: 1336px;
  margin: auto;
}

.content-blocks {
  display: flex;
  justify-content: center;
}

.content-block_1, .content-block_2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-block_1 {
  flex-direction: column;
  flex: 0 50%;
  text-align: center;
}

.content-block_2 {
  background-color: green;
  flex: 0 1 50%;
  margin-left: 20px;
}
.content-block_2 a {
  text-decoration: none;
  font-size: 22px;
  color: white;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button button {
  margin-top: 10px;
  background-color: white;
  border-color: white;
  border-radius: 5px;
  color: black;
  padding: 10px;
  box-shadow: 0 0 10px grey;
}